# 캐시파일
__pycache__/
*.pyc

# 이미지
*.jpg
*.jpeg
*.png
*.gif

# 임시/로그
*.log
*.tmp

# 환경파일/키
.env
secrets.json

# 미디어/대용량
media/
static/
uploads/

.cache/

cache_backup/
.cache/
.ssh/
.bash_history
.python_history
lesshst_backup
nohup.out*
*.pyc
__pycache__/

